<launch>

  <!-- 里程计话题 -->
  <arg name="stateEstimationTopic" default="/Odometry"/>
  <!-- 点云话题 -->
  <arg name="depthCloudTopic" default="/cloud_registered"/>
  <!-- 距离传感器和状态估计传感器之间的相对延迟 -->
  <arg name="depthCloudDelay" default="0"/>
  <!-- 距离传感器对于车辆中心俯仰角的偏移量 -->
  <arg name="depthCamPitchOffset" default="0"/>
  <!-- 距离传感器对于车辆中心X轴的偏移量 -->
  <arg name="depthCamXOffset" default="0"/>
  <!-- 距离传感器对于车辆中心Y轴的偏移量 -->
  <arg name="depthCamYOffset" default="0"/>
  <!-- 距离传感器对于车辆中心Z轴的偏移量 -->
  <arg name="depthCamZOffset" default="0"/>
  <!-- 是否状态估计传感器和车头反着装 -->
  <arg name="trackingCamBackward" default="false"/>
  <!-- 状态估计传感器对于车辆中心X轴的偏移量 -->
  <arg name="trackingCamXOffset" default="0"/>
  <!-- 状态估计传感器对于车辆中心Y轴的偏移量 -->
  <arg name="trackingCamYOffset" default="0"/>
  <!-- 状态估计传感器对于车辆中心Z轴的偏移量 -->
  <arg name="trackingCamZOffset" default="0"/>
  <arg name="trackingCamScale" default="1.0"/>
  <arg name="config" default="indoor"/>

  <include file="$(find ps3joy)/launch/ps3.launch" />

  <include file="$(find local_planner)/launch/local_planner_$(arg config).launch" >
    <arg name="stateEstimationTopic" value="$(arg stateEstimationTopic)" />
    <arg name="depthCloudTopic" value="$(arg depthCloudTopic)" />
    <arg name="depthCloudDelay" value="$(arg depthCloudDelay)" />
    <arg name="depthCamPitchOffset" value="$(arg depthCamPitchOffset)" />
    <arg name="depthCamXOffset" value="$(arg depthCamXOffset)" />
    <arg name="depthCamYOffset" value="$(arg depthCamYOffset)" />
    <arg name="depthCamZOffset" value="$(arg depthCamZOffset)" />
    <arg name="trackingCamBackward" value="$(arg trackingCamBackward)" />
    <arg name="trackingCamXOffset" value="$(arg trackingCamXOffset)" />
    <arg name="trackingCamYOffset" value="$(arg trackingCamYOffset)" />
    <arg name="trackingCamZOffset" value="$(arg trackingCamZOffset)" />
    <arg name="trackingCamScale" value="$(arg trackingCamScale)" />
  </include>

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizAA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator_gazebo.rviz" respawn="true"/>

  <node pkg="tf" type="static_transform_publisher" name="vehicleTransPublisher" args="0 0 0 0 0 0 /base_link_3d /rgbd_camera 1000"/>

</launch>
